---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import StatsSection from "../components/StatsSection.astro";
import AboutSection from "../components/AboutSection.astro";
import Gallery from "../components/Gallery.astro";
---

<Layout>
  <main class="bg-gray-50/50 min-h-screen">
    <Hero />
    <StatsSection />
    <AboutSection />
    <Gallery />
  </main>
</Layout>
