---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import StatsSection from "../components/StatsSection.astro";
import AboutSection from "../components/AboutSection.astro";
import AmenitiesSection from "../components/AmenitiesSection.astro";
import Gallery from "../components/Gallery.astro";
import LocationSection from "../components/LocationSection.astro";
import ReviewsSection from "../components/ReviewsSection.astro";
import HouseRulesSection from "../components/HouseRulesSection.astro";
import BookingSection from "../components/BookingSection.astro";
---

<Layout>
  <main class="bg-gray-50/50 min-h-screen">
    <Hero />
    <StatsSection />
    <AboutSection />
    <AmenitiesSection />
    <Gallery />
    <LocationSection />
    <ReviewsSection />
    <HouseRulesSection />
    <BookingSection />
  </main>
</Layout>
