---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import StatsSection from "../components/StatsSection.astro";
---

<Layout>
  <main class="bg-gray-50/50 min-h-screen">
    <Hero />
    <StatsSection />
    <!-- About Section will go here -->
  </main>
</Layout>
