---
import Hero from "./Hero.astro";
import StatsSection from "./StatsSection.astro";
import AboutSection from "./AboutSection.astro";
import AmenitiesSection from "./AmenitiesSection.astro";
import Gallery from "./Gallery.astro";
import LocationSection from "./LocationSection.astro";
import ReviewsSection from "./ReviewsSection.astro";
import HouseRulesSection from "./HouseRulesSection.astro";
import BookingSection from "./BookingSection.astro";
---

<main class="bg-gray-50/50 min-h-screen">
  <Hero />
  <StatsSection />
  <AboutSection />
  <AmenitiesSection />
  <Gallery />
  <LocationSection />
  <ReviewsSection />
  <HouseRulesSection />
  <BookingSection />
</main>
